.themer {
  position: absolute;
  display: flex;
  top: 40px;
  right: 40px;
  .themer-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .themer-controls {
      display: flex;
      flex-direction: column;
      .themer-button {
        width: 14px;
        height: auto;
        outline: none;
        background: none;
        border: none;
        padding: 0;
        margin: 0 10px 10px 10px;
        transition: opacity 200ms ease-out;
        cursor: pointer;
        &:hover {
          transition: opacity 200ms ease-out;
          opacity: 0.5;
        }
        img {
          width: 100%;
        }
        svg {
          path {
            fill: var(--highlight);
          }
        }
        &#generate {
          width: 14px;
        }
      }
    }
    .themer-swatches {
      .swatch {
        height: 20px;
        width: 20px;
        background-color: white;
        border: 1px solid black;
      }
      .swatch-background-color {
        background-color: var(--background-color);
      }
      .swatch-highlight {
        background-color: var(--highlight);
      }
      .swatch-text-color {
        background-color: var(--text-color);
      }
      .swatch-heading-color {
        background-color: var(--heading-color);
      }
      .swatch-edge {
        background-color: var(--edge);
      }
    }
    .themer-name {
      font-family: var(--font-family-mono);
      font-size: 14px;
      margin: 0;
      width: 0;
      white-space: nowrap;
      transform: rotate(90deg);
    }
  }
  .themer-options {
    // box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background: white;
    button {
      &.selected {
        background: var(--highlight);
      }
    }
    .themer-generate {
      display: block;
    }
    .themer-other {
      display: none;
    }
  }
}