// Font

// @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-mono: monospace;
  --background-color: #ffffff;
  --highlight: #7b16ff;
  --text-color: #4e5157;
  --heading-color: #1c1b1d;
  --edge: #e3fcf5;
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'layout';
@import 'header';
@import 'content';
@import 'intro';
@import 'pagination';
@import 'hamburger';
@import 'summary';
@import 'social';
@import 'author';
// @import 'blog';
@import 'pygments/github';
@import 'theme-switcher';

@import 'tweaks/dot';
@import 'tweaks/paper';
@import 'tweaks/frame';


html, body {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 30px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
}

a {
  color: var(--highlight);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-family: var(--font-family-heading);
}
p {
  color: var(--text-color);
  font-family: var(--font-family-paragraph);
  font-size: 18px;
  line-height: 24px;
}

ol,ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}
