@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,900&display=swap');

:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-mono: monospace;
  --base-color: #ffffff;
  --base-offset-color: #eaeaea;
  --highlight-color: #7b16ff;
  --heading-color: #1c1b1d;
  --text-color: #4e5157;
  --edge: #e3fcf5;
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'type';
@import 'breakpoints';
@import 'layout';
@import 'header';
@import 'content';
@import 'intro';
@import 'pagination';
// @import 'hamburger';
@import 'summary';
@import 'social';
@import 'author';
@import 'pygments/github';
@import 'tweaks/dot';
@import 'tweaks/frame';


html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 30px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
}
